<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <%- include('partials/head') %>
</head>
<body>

    <%- include('partials/navigation') %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil soluta aspernatur facilis id error quam, ducimus accusamus numquam harum sit non ipsum. Quisquam iure hic reiciendis ex enim deserunt inventore quis dolores omnis unde, quas quo numquam, est, rerum ad et ducimus maxime earum. Quibusdam modi commodi, molestias repellendus cupiditate ex doloremque! Fugiat ad fuga natus minima obcaecati magnam provident quibusdam consequuntur, quisquam asperiores exercitationem ex earum cum soluta, sit sed commodi nulla recusandae saepe repellendus omnis aliquid. Fugiat quaerat sapiente unde, ullam, vel sunt nemo explicabo, voluptate quisquam facilis non! Consequuntur sapiente quisquam eaque dolorum. Esse perferendis tempore delectus vero temporibus ex veritatis nam recusandae perspiciatis? Error consequatur modi repellendus distinctio expedita quidem autem voluptates minus fugit animi facere fugiat, dolores dolorum perspiciatis sit nobis aliquid, tempora maiores dolor cumque dicta! Obcaecati debitis eos ipsam hic dolores quia est tempora molestias veniam repellendus? Sequi laudantium culpa assumenda quidem velit.</p>
        </section>
    </main>

    <%- include('partials/footer') %>

</body>
</html>